<!DOCTYPE html>
<html lang= "eng">
    <body>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="text" name="fileName" >
            <input type="file" name="file" >
            <input type ="submit" name="submit">
        </form>
    </body>
</html>